batchgenerators==0.25
cityscapesscripts==2.2.2
einops==0.7.0
h5py==3.10.0
icecream==2.1.3
imageio==2.31.6
ipython==8.12.3
matplotlib==3.7.1
MedPy==0.4.0
mmcv==1.7.0
nibabel==5.2.1
numpy==1.24.3
opencv_python==4.8.1.78
Pillow
pycocotools==2.0.7
safetensors==0.3.1
scipy==1.12.0
SimpleITK==2.3.1
tensorboardX==2.6.2.2
terminaltables==3.1.10
tqdm==4.65.0
icecream
opencv-python
scipy
safetensors
tensorboardX
medpy
imageio
einops
batchgenerators
h5py
icecream
torchvision==0.17
torch==2.2.0
